.background-image-container {
  background-image: url('../assets/background.jpg');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 375px 667px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pseudoloading {
}
